.project
.metadata
.settings
.metadata/*
.DS_Store
.idea/
**/.DS_Store
**/.project
**/.metadata
**/.settings

/JEDI-GROUP_G-JAVA-FLIPFIT-POS/my-sql-connector
.classpath/*
**/.classpath
JEDI-GROUP_G-JAVA-FLIPFIT-POS/.classpath
