.project
.metadata
.settings
.metadata/*
.DS_Store
.idea/
**/.DS_Store
**/.project
**/.metadata
**/.settings
/target/
/.classpath

/JEDI-GROUP_G-JAVA-FLIPFIT-POS/my-sql-connector
#JEDI-GROUP_G-JAVA-FLIPFIT-POS/.classpath
